*{
    margin: 0;
}
/* Navigation */
a{
    text-decoration: none;
    color: #A8A8A8;
    font-weight: 700;
    padding: 2px;
}
li{
    list-style: none;
    padding: 10px;
    color: #A8A8A8;
    font-family: 'Belleza';font-size: 20px;
}
nav img{
    width: 50px;
    height: 50px;
}
ul{
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
}
nav{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
a:hover{
    background-color: white;
}
header{
    background-color: rgb(0, 0, 0,0.8);
    color: white;
    height: auto;
    /* width: 100%; */
}
#logo{
    padding: 5px;
    width: 50px;
    height: 50px;
    /* float: left; */
}
/* Home page main section */
#home-section{
    height: 600px;
}
.profile-picture{
    display: flex;
    justify-content: center;
}
.profile-picture img{
    border-radius: 60%;
}
.profile-description, .profile-moto{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    font-size: 20px;
}
/* Footer */
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(0, 0, 0);
    height: 120px;
    color: #A8A8A8;
    font-family: 'Belleza';font-size: 16px;
    margin-top: 5px;
    width: auto;
}
#social-media, #copyright{
    padding: 20px 0 0 0px;
    text-align: center;
    color: #A8A8A8;
    width: 400px;
}
i{
    color: #A8A8A8;
}

/* blog */
#blog-section{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
#blog-section h2, #blog-section h3{
    text-align: center;
    font-family: 'arial';
}
.blog-cards{
    width: auto;
    height: auto;
    border-width: 0px 2px 2px 0px;
    border-style: solid ;
    border-color: #E8E8E8;
    box-shadow: 2px 5px 5px #DCDCDC;
    border-radius: 10px;
    margin: 20px;
    font-family: 'arial';font-size: 18px;
    color: 	#202020;
}
.blog-cards img{                                                               /***** decrese image size**********/
    width: 800px;
    height: 200px;
}
.blogs{
    display: flex;
    flex-direction: row;                                                      /***flex-direction:column****/
}
.side-cards{
    width: 200px;
    height:auto;
    border-width: 0px 2px 2px 0px;
    border-style: solid ;
    border-color: #E8E8E8;
    box-shadow: 3px 5px 5px #DCDCDC;
    border-radius: 10px;
    margin: 20px;
    font-family: 'arial';font-size: 15px;
    color: 		#202020;
}
.side-cards img{
    width: 200px;
    height: 100px;
}
.mini-blog img{
    width: 50px;
    height: 50px;
    border-radius: 2px;
}
.blog-cards button{
    font-size:15px;
    border: solid 1px #989898;
    padding: 15px;
    color: 	#282828;
    background-color: white;
}

/* Resume */
.resume{
    display: flex;
    margin-top: 10px;
}
.aside-cards{
    height: auto;
    width: auto;
    border-width: 0px 3px 1px 0px;
    border-style: solid;
    border-color: 	white;
    box-shadow: 5px 5px 10px 	#E8E8E8;
    margin: 0px 50px 5px 60px;

    /* fonts */
    font-family: 'Belleza';font-size: 22px;
    color: 	#696969;
}
.aside-cards .profile{
    background-image: url("../resource/profile");
    width: 300px;
    height: 300px;
}
.profile h2{
    bottom: -260px;
}
.progress-bar{
    height: 10px;
    width: 250px;
    margin: 2px;
    text-align: center;
}
.progress.js{
    width: 60%;
    background-color: grey;
}
.progress.html{
    width: 70%;
    background-color: grey;
}
.progress.css{
    width: 40%;
    background-color: grey;
}
.progress.sql{
    width: 60%;
    background-color: grey;
}
.progress.english{
    width: 80%;
    background-color: grey;
}
.progress.hindi{
    width: 90%;
    background-color: grey;
}
.progress.tamil{
    width: 90%;
    background-color: grey;
}
.progress.marathi{
    width: 70%;
    background-color: grey;
}
.cards{
    width: 600px;
    height: auto;
    border-width: 0px 3px 1px 0px;
    border-style: solid;
    border-color: 	white;
    box-shadow: 5px 5px 10px 	#E8E8E8;
    margin: 0px 0px 50px 0px;
    /* fonts */
    font-family: 'Bellaza';font-size: 22px;
    color: 	#696969;
}
@media only screen and (max-width: 600px) {
    /* header responsive */
    ul{
        flex-direction: column;
    }
    li{
        list-style: none;
        padding: 10px;
        color: #A8A8A8;
        font-family: 'Belleza';font-size: 15px;
    }
    nav{
        flex-direction: column;
    }
    /* index responsive */
    .home-responsive{
        display: flex;
    }
    .profile-picture img{
        width: 200px;
        height: 200px;
        border-radius: 60%;
    }
    /* blog responsive */
    .blog-responsive{
        display: flex;
    }
    .blog-cards img{
        width: 200px;
        height: 200px;
    }
    .blog-cards{
        width: auto;
        height: auto;
  }
  .blogs{
      flex-direction: column;
  }
    /* resume */
    .resume{
        flex-direction: column;
        margin-left: 0px;
    }
    .cards{
        width: auto;
    }
    .resume-responsive{
        display: flex;
    }
    .aside-cards{
        display: flex; 
        flex-wrap: wrap;
        margin: 0px;
    }
    .aside-cards .profile{
        width: 250px;
        height: 250px;
    }
}
